body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1a1010;
  color: rgb(138, 84, 34);
  padding: 20px;
  text-align: center;
  border-radius: 0px 0px 0px 0px;
}

nav {
  padding: 20px;
  background-color: rgb(138, 84, 34);
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(138, 84, 34);
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 15px;
  border: 5px double #1a1010;
  border-radius: 10px 10px;
}

footer {
  color: #1a1010;
  background-color: #1a1010;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
