body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3a0866;
  color: rgb(188, 131, 226);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #8a4dbd;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(187, 150, 230);
  margin: 0 15px;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #c9adf7;
}

footer {
  background-color: #3a0866;
  color: rgb(188, 131, 226);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
}
